{% extends "collection/base.html" %}
{% block content %}
<div class="container mx-auto px-5 py-2 lg:px-32 lg:pt-12">
  <div class="bg-white shadow rounded-lg p-6 text-center">
    <div class="sm:flex-auto">
      <h1 class="text-ellipsis pl-5 dark:text-black text-3xl font-bold mb-4"> Editar </h1>
    </div>
    <!-- collection_edit.html -->
    <form method="post" action="">
      {% csrf_token %}
      
      <!-- Nombre -->
      <div class="mb-4">
        <label for="name" class="block text-gray-600 font-semibold">Nombre:</label>
        <input type="text" name="name" value="{{ collection.name }}" required class="border border-gray-300 p-2 w-full">
      </div>

      <!-- Descripción -->
      <div class="mb-4">
        <label for="description" class="block text-gray-600 font-semibold">Descripción:</label>
        <textarea name="description" required class="border border-gray-300 p-2 w-full">{{ collection.description }}</textarea>
      </div>

      <!-- Colaboradores -->
      <div class="mb-4">
        <label for="collaborators" class="block text-gray-600 font-semibold">Colaboradores:</label>
        <select name="collaborators" multiple class="border border-gray-300 p-2 w-full">
          {% for user in collaborators %}
            <option value="{{ user.id }}" {% if user in collection.collaborators.all %}selected{% endif %}>{{ user.username }}</option>
          {% endfor %}
        </select>
      </div>

      <!-- Botón de guardar -->
      <div class="text-center">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Guardar cambios</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
