{% extends "collection/base.html" %}
{% load i18n %}
{% block title %}Información del Usuario{% endblock %}

{% block content %}
  <div class="flex min-h-full justify-center py-10 px-4 sm:px-6 lg:px-8">
    <div class="border shadow-md rounded-xl px-8 pt-6 pb-8 mb-4 flex flex-col">
      <div class="mt-6 text-left text-3xl font-bold text-gray-500"> 
        Información del Usuario
      </div>

      <div class="mb-3">
        <label class="block mt-3 text-gray-700">Nombre de Usuario:</label>
        <div class="pl-2 mt-1">{{ user_info.username }}</div>
      </div>

      <div class="mb-3">
        <label class="block mt-3 text-gray-700">Correo Electrónico:</label>
        <div class="pl-2 mt-1">{{ user_info.email }}</div>
      </div>

      <div class="mb-3">
        <label class="block mt-3 text-gray-700">Número de Colecciones:</label>
        <div class="pl-2 mt-1">{{ user_info.collection_count }}</div>
      </div>

      <div class="mb-3">
        <label class="block mt-3 text-gray-700">Colecciones:</label>
        <ul>
          {% for collection in user_info.collections %}
            <li>{{ collection.name }}</li>
          {% endfor %}
        </ul>
      </div>

      <!-- Puedes agregar más campos de información del usuario según sea necesario -->

    </div>
  </div>
{% endblock %}



