{% extends "collection/base.html" %}
{% load i18n %}
{% block title %}Información del Usuario{% endblock %}

{% block content %}
  <div class="flex min-h-full justify-center py-10 px-4 sm:px-6 lg:px-8">
    <div class="border shadow-md rounded-xl px-8 pt-6 pb-8 mb-4 flex flex-col">
      <div class="mt-6 text-left text-3xl font-bold text-white"> 
        Información del Usuario
      </div>

      <div class="mb-3">
        <label class="block mt-3 text-white text-center">Nombre de Usuario:</label>
        <div class="pl-2 mt-1 text-center font-medium">{{ user_info.username }}</div>
      </div>

      <div class="mb-3">
        <label class="block mt-3 text-white text-center">Correo Electrónico:</label>
        <div class="pl-2 mt-1 text-center font-medium">{{ user_info.email }}</div>
      </div>

      <div class="mb-3 text-center">
        <label class="block mt-3 text-white">Número de Colecciones:</label>
        <div class="pl-2 mt-1 font-medium">{{ user_info.collection_count }}</div>
      </div>

      <div class="mb-3 text-center">
        <label class="block mt-3 text-white">Colecciones:</label>
        <ul>
          {% for collection in user_info.collections %}
            <li class="font-medium">{{ collection.name }}</li>
          {% endfor %}
        </ul>
      </div>

    </div>
  </div>
{% endblock %}



